// -----------------------------------------------------------
// MIXINS
// -----------------------------------------------------------

$backgroundColor: #efefef;
$borderColor: #aaaaaa;
$textColor: #464646;
$textColorLight: #565656;

$elmHeight: 30;
$elmPadding: 3;
$elmMargins: 4px 0;
$innerHeight: $elmHeight - ($elmPadding * 2) - 2; /* 2 for borders */

$legendText: italic bold 12px arial;
$inputText: normal normal 12px arial;
$unitText: italic normal 12px arial;
$textLegend: normal bold 13px arial;

$btnBgColor: #464646;
$btnBgColorHover: #686868;
$btnBgColorActive: #909090;
$btnTextColor: #ffffff;

@mixin prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

// default theme light
@import 'css/_layout.scss';
@import 'css/_elements.scss';
@import 'css/_components.scss';
@import 'css/_themes.scss';

